<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brunsneco | BS</title>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styleHome.css">
    <link rel="icon" type="image/png" href="../static/assets/img/lobo.png">
    
</head>
<body>
    <header>
        <div class="center">
           
            <div class="logo"><img src="../static/assets/img/lobo (3).png"></div>
            <div class="menu">
               <a href="cadastro">Cadastro</a>
               <a href="database">Banco de Dados</a>
               <a href="logout">Logout</a>
            </div>
        </div>
    </header>
    <section class="sobre">
        <div class="extras">   
            <img class="WEB" src="../static/assets/img/programacao-da-web.png" >
            <div class="social-media">
                <a href="https://www.linkedin.com/in/bruno-s-19432b92/"><img src="../static/assets/img/linkedin.png"></a>
                <a href="https://github.com/Brunsneco"><img src="../static/assets/img/placa-do-github.png"></a>
                <a href="https://www.instagram.com/brunsneco/"><img src="../static/assets/img/logotipo-do-instagram.png"></a>
            </div>
        </div>
        <div class="center">
            <h1>CURSO DE INTRODUÇÃO A PROGRAMAÇÃO COM <br> <span style="color: #017143; font-size: 73px;">PYTHON + WEB</span></h1><br>
            <p>Aplicação web desenvolvida por Bruno Ribeiro dos Santos com a finalidade de por em prática todo o conhecimento obtido durante o curso, e veio por meio desta introdução agradecer ao DR. Jean Hauck e ao DR. Cristian Koliver pela exelente didática e paciência em todo esse período.</p>
        </div>
        <div class="cssload-loader"></div>
        <div class="thanks">OBRIGADO!</div>

    </section>
    
</body>
</html>